* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  background-color: #282d35;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  height: 15vh;
  padding: 30px 60px;
}

.logo-button:link,
.logo-button:visited {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #00d8ff;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}
.logo {
  font-size: 48px;
  width: 36px;
}

nav {
  font-size: 20px;
  color: #fff;
}
main {
  padding: 50px;
  background-color: #282d35;
  width: 100%;
  height: 85vh;
}
h1 {
  margin-bottom: 32px;
  color: #fff;
  font-size: 54px;
}
ul {
  padding-left: 2rem;
}
li {
  color: #fff;
  line-height: 1.2;
  font-size: 20px;
  padding-left: 10px;
  padding-block: 10px;
}
li::marker {
  font-size: 1.6em;
  color: #00d8ff;
}
.content {
  display: flex;
}
.react-half-logo {
  background-color: #282d35;
  align-items: center;
  width: 300px;
}
.react-image {
  display: flex;
  align-items: center;
}
